<head>

	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
</head>
<body>
<div class="header">
</div>
<div class="body" id="body">
	<div class="sidebar">
	</div>
	<div class="form">
		<input type="text" name="search" placeholder="Zoeken">
	</div>
	<div class="items">
		<span v-for="item in sortedItems">{{ item }}</span>
		<li v-for="n in evenNumbers">{{ n }}</li>
	</div>
</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/app.js"></script>
